<template>
    <div>
        <h1>{{ name }}</h1>
        <!-- <p>{{ tasks[0] }}</p>
        <p>{{ tasks[1] }}</p>
        <hr/>
        <ComponentA />
        <ComponentB />
        <ComponentC /> -->
        <p> {{ frist_name }}{{last_name }}</p>
        <p>{{ fullName }}</p>
    </div>
</template>

<script>
//import ComponentA from './ComponentA.vue';
//import ComponentB from './ComponentB.vue';
//import ComponentC from './ComponentC.vue';
export default {
        name: 'GreetingMessage',
        //props :['first_name','last_name','fullName'],
        props :{
            first_name:String,
            last_name:String,
            fullName:{
                    type : String,
                    //default :'Unknow'
                    required:false,
              }
            },
        Components :{
           // ComponentA,
           // ComponentB,
           // ComponentC,
        },

        data () {
            return {
                name : "mark Zuckerberg",
                tasks :[
                    {id:1, title :'Buy some milk' , isFav: false },
                    {id:2, title :'Play games' , isFav: false },
                ]
            }    
        },   
    }
</script>

<style lang="scss" scoped>

</style>