<template>
<div>
  <img src="./assets/logo.png" alt="vue logo">
  <!--Static value -->
  <greeting-message fist-name="Mark" last_name="Zuckerberg"/>
  <greeting-message fist-name="Aren" last_name="Yeger"/>
  <greeting-message fist-name="Mind" last_name="Mint"/>
  <hr>
  <!-- Dynamic value -->
  <greeting-message :first_name="fName" v-bind:last-name="lName"/>
  <greeting-message v-bind:full-name="fullName"/>
</div>
</template>

<script>
import GreetingMessage from './components/GreetingMessage.vue'

export default {
  name: 'App',
  data() {
    return {
      fName: 'Jhon',
      lName:'doe',
    } 
  },
  computed :{
    fullName() {
      return this.fName +"" +this.lName

    }
  },
 Components : {
  GreetingMessage,
  }
}
</script>

<style>
 #app {
  text-align: center;
 }
</style>
